{% extends 'index.html' %}
{% load static %}
{% block title %}
  {% if is_edit %}
    Редактировать запись
  {% else %}
    Новая заметка
{% endif %}
{% endblock %}

{% block posts %}
<div class="container">
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  <link rel="stylesheet" href="{% static 'auth_form/css/style.css' %}">

  <div class="form">
    {% comment %} <link rel="stylesheet" href="{% static 'auth_form/css/style.css' %}"> {% endcomment %}
    <div class="form-toggle"></div>
      <div class="form-panel one">
      {% comment %} <div class="form-header"> {% endcomment %}
        <h1>Создание новой заметки</h1>
      </div>
      <div class="form-content">
        {% comment %} <form method="post" action="{% url 'users:signup' %}"> {% endcomment %}
          <form method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          <div>
            <label for="id_text">Введите текст заметки<span class="required text-danger" >*</span></label>
            {{ form.text|safe }} 
          </div>
          <div >
            <label for="id_description" cols="10" rows="10">Введите заголовок заметки<span class="required text-danger" >*</span></label>
            {% comment %} <textarea id="id_description"></textarea> {% endcomment %}
            {{ form.description }}
          </div>
          {% comment %} <textarea name="description" cols="40" rows="10" maxlength="50" required id="id_description"> {% endcomment %}
          {% comment %} <div id="pad">
                <h2>Заметка</h2>

                <textarea id="note">Pfegrhjyj,hmgnfbdvc</textarea>

            </div> {% endcomment %}
            
          <div>
            <label for="id_group">Выберите группу<span class="required text-danger" >*</span></label>
            {{ form.group }}
              <small id="id_group-help" class="form-text text-muted">
                Группа, к которой будет относиться пост
              </small>
          </div>
          {% if is_edit %}
            <div class="form-group row my-3 p-3">
              <label for="id_image">
              Изображение                 
              </label>
              {{ form.image }}
                <small id="id_group-help" class="form-text text-muted">
                </small>
            </div>
            {% else %}
            <div class="form-group row my-3 p-3">
              <label for="id_image">
                Добавьте изображение                      
              </label>
              <input type="file" name="image" accept="image/*" class="form-control" id="id_image">                      
            </div>
            {% endif %}
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}               
              </button> 
            </div>
        </form>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
</div>
{% endblock %}