{% extends 'index.html' %}
{% load static %}

{% block posts %}

{% for log in logs %}
<article class="post">
	<header>
		<div class="title">
			<h2><a href="{% url 'logs:log' log.id %}">{{ log.description }}</a></h2>
			<p>{% url 'logs:log' log.id %}</p>
		</div>
		<div class="meta">
			<time class="published" datetime="#">{{ log.date_added|date:"d E Y" }}</time>
			<a href="#" class="author"><span class="name">{{ log.owner.get_username }}</span><img src="images/avatar.jpg" alt="" /></a>
		</div>
	</header>
	<a href="single.html" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
	<p>{{ log.text }}</p>
	<footer>
		<ul class="actions">
			<li><a href="single.html" class="button large">Continue Reading</a></li>
		</ul>
		<ul class="stats">
			<li><a href="#">General</a></li>
			<li><a href="#" class="icon solid fa-heart">28</a></li>
			<li><a href="#" class="icon solid fa-comment">128</a></li>
		</ul>
	</footer>
</article>

{% endfor %}

{% endblock %}