{% extends 'index.html' %}
{% load static %}
{% load thumbnail %}

{% block posts %}
{% comment %} {% if page_obj is not empty %}
<article class="post">
	<p><h3>У вас пока нет записей..</h3></p>
</article>
{% endif %} {% endcomment %}
<article class="post">

{% for log in page_obj %}
	<header>
		<div class="title">
			<h2><a href="{% url 'logs:log' log.id %}">{{ log.description }}</a></h2>
			{% comment %} <p>{% url 'logs:log' log.id %}</p> {% endcomment %}
		</div>
		<div class="meta">
			<time class="published" datetime="#">{{ log.date_added|date:"d E Y" }}</time>
			{% thumbnail log.owner.avatar "100x100" crop="center" upscale=True as im %}
				<a href="{% url 'logs:user_logs' log.owner.get_username %}" class="author"><span class="name">{{ log.owner.get_username }}</span><img src="{{ im.url }}" alt="" /></a>
			{% endthumbnail %}
		</div>
	</header>
	<p>
		{% with text=log.text|truncatewords:50 %}
			{{ text|safe }}
		{% endwith %}
	</p>
	{% comment %} <p>{{ log.text|safe }}</p> {% endcomment %}
	<footer>
		<ul class="actions">
			<li><a href="{% url 'logs:log' log.id %}" class="button large">Читать</a></li>
		</ul>
		<ul class="stats">
			<li><a href="#">General</a></li>
			<li><a href="#" class="icon solid fa-heart">28</a></li>
			<li><a href="#" class="icon solid fa-comment">128</a></li>
		</ul>
	</footer>
{% empty %}
	<p><h4>У вас пока нет записей..</h4></p>
{% endfor %}
</article>

{% endblock %}