{% extends "index.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}Login{% endblock %}
{% block loginform %}
{% load user_filters %}

<!-- Form-->
<div class="form">
  <link rel="stylesheet" href="{% static 'auth_form/css/style.css' %}">
  <div class="form-toggle"></div>
    <div class="form-panel one">
    <div class="form-header">
      <h1>Профиль</h1>
    </div>
    <div class="form-content">
      <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {% thumbnail request.user.avatar "200x200" crop="center" upscale=True as im %}
          <a class="image" style="left: 35%;"><img src="{{ im.url }}" alt="" /></a>
        {% endthumbnail %}
        <p>
          <label for="id_avatar">Аватар:</label>
          <input type="file" name="avatar" accept="image/*" id="id_avatar">
        </p>
        <p>
          <label for="id_first_name">Имя:</label>
          {{ form.first_name }}          
        </p>
        <p>
          <label for="id_last_name">Фамилия:</label>
          {{ form.last_name }}          
        </p>
        <p>
          <label for="id_about">About:</label>
          {{ form.about }}          
        </p>
        <p>
          <label for="id_skills">Skills:</label>
          {{ form.skills }}
      </textarea>
        <div class="form-group">
          <button type="submit">Сохранить изменения</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
