{% extends "index.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block loginform %}
{% load user_filters %}

<!-- Form-->
<div class="form">
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'> {% endcomment %}

  <link rel="stylesheet" href="{% static 'auth_form/css/style.css' %}">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Авторизация</h1>
    </div>
    <div class="form-content">
      {% comment %} {% if form.errors %}
        {% for field in form1 %}
          {% for error in field.errors %}
            <div class="alert alert-danger">{{ error|escape }}</div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">{{ error|escape }}</div>
        {% endfor %}
      {% endif %} {% endcomment %}

      <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username1">Имя пользователя
            
              <span class="required text-danger">*</span>
            
          </label>
          <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username1">
        
        </div>
      
        <div class="form-group">
          <label for="id_password">Пароль
            
              <span class="required text-danger">*</span>
            
          </label>
          <input type="password" name="password" autocomplete="current-password" required id="id_password">
        
        </div>
        {% comment %} {% for field in login_form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}
              {% if field.field.required %}
                <span class="required text-danger">*</span>
              {% endif %}
            </label>
            {{ field }} {% endcomment %}
          {% comment %} {% if field.help_text %}
            <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
              {{ field.help_text|safe }}
            </small>
          {% endif %} {% endcomment %}
          {% comment %} </div> {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
        <div class="form-group">
          <button type="submit" name="btn_login_form">Войти</button>
        </div>
      </form>
    </div>
  </div>


</div>
{% comment %} <div class="pen-footer"><a href="https://www.behance.net/gallery/30478397/Login-Form-UI-Library" target="_blank"><i class="material-icons">arrow_backward</i>View on Behance</a><a href="https://github.com/andyhqtran/UI-Library/tree/master/Login%20Form" target="_blank">View on Github<i class="material-icons">arrow_forward</i></a></div> {% endcomment %}
  {% comment %} <script src="{% static 'auth_form/js/jquery.min.js' %}"></script> {% endcomment %}
  {% comment %} <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> {% endcomment %}
{% comment %} <script src='https://codepen.io/andytran/pen/vLmRVp.js'></script> {% endcomment %}

    {% comment %} <script src="{% static 'auth_form/js/index.js' %}"></script> {% endcomment %}

{% endblock %}
