{% load static %}
		<!-- Contact -->
        <article id="contact" class="wrapper style4">
            <div class="container medium">
                {% comment %} <header>
                    <h2>Have me make stuff for you.</h2>
                    <p>Ornare nulla proin odio consequat sapien vestibulum ipsum.</p>
                </header> {% endcomment %}
                {% comment %} <div class="row"> {% endcomment %}
                    {% comment %} <div class="col-12">
                        <form method="post" action="#">
                            <div class="row">
                                <div class="col-6 col-12-small">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-small">
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="col-12">
                                    <input type="text" name="subject" id="subject" placeholder="Subject" />
                                </div>
                                <div class="col-12">
                                    <textarea name="message" id="message" placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" /></li>
                                        <li><input type="reset" value="Clear Form" class="alt" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div> {% endcomment %}
                    <div class="col-12">
                        <hr />
                        {% comment %} <h3>Контакты</h3> {% endcomment %}
                        <ul class="social">
                            <li><a href="#" class="fa fa-envelope">
                            <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                            <li><a href="#" class="icon brands fa-telegram"><span class="label">Github</span></a></li>
                            <li><a href="#" class="icon brands fa-yandex"><span class="label">Github</span></a></li>
                        </ul>
                        <hr />
                    </div>
                {% comment %} </div> {% endcomment %}
                <footer>
                    <ul id="copyright">
                        <li>&copy;Splinter 2022. All rights reserved.</li>
                    </ul>
                </footer>
            </div>
        </article>

    <!-- Scripts -->
        <script src="{%static 'assets/js/jquery.min.js'%}"></script>
        <script src="{%static 'assets/js/jquery.scrolly.min.js'%}"></script>
        <script src="{%static 'assets/js/browser.min.js'%}"></script>
        <script src="{%static 'assets/js/breakpoints.min.js'%}"></script>
        <script src="{%static 'assets/js/util.js'%}"></script>
        <script src="{%static 'assets/js/main.js'%}"></script>