{% load static %}
{% load thumbnail %}
<h1><a href="{% url "logs:index" %}">Главная</a></h1>
<nav class="links">
	<ul>
		<li><a href={% url "logs:groups_list" %}>Заметки</a></li>
		<li><a href="#">Ссылки на документацию</a></li>
		
        {% if user.is_authenticated %}
            <li><a href="{% url 'logs:my_logs' %}">Мои заметки</a></li>
            <li><a href="{% url 'logs:create_log' %}">Добавить заметку</a></li>

            <li><a href="{% url 'users:logout' %}">Пользователь: {{ request.user }} Выйти</a></li>
        {% else %}
			<li><a href="{% url 'users:login' %}">Вход</a></li>
            <li><a href="{% url 'users:signup' %}">Регистрация</a></li>
        {% endif %}
	</ul>
</nav>
<nav class="main">
	<ul>
		<li class="search">
			<a class="fa-search" href="#search">Поиск</a>
			<form id="search" method="get" action="{% url 'logs:search' %}">
				<input type="text" name="search_query" placeholder="Поиск" />
			</form>
		</li>
		<li class="menu">
			{% comment %} поменять класс на аватар и добавить ссылку на профиль {% endcomment %}
			{% comment %} Навести красоту {% endcomment %}
			<div class="avatar-wrapper">
				<link rel="stylesheet" href="{% static 'auth_form/css/style.css' %}">
				{% thumbnail request.user.avatar "100x100" crop="center" upscale=True as im %}
					<a href="#menu"><img src="{{ im.url }}" alt="Avatar" class="avatar"></a>
				{% endthumbnail %}
				{% comment %} <div class="verified-avatar-icon">✓</div> {% endcomment %}
			  </div>
  

			{% comment %} <a href="#menu" class="author"><img src="{% static 'images/avatar.jpg' %}"></a> {% endcomment %}
		</li>
	</ul>
</nav>