{% load static %}
<h1><a href="{% url "logs:index" %}">Главная</a></h1>
<nav class="links">
	<ul>
		<li><a href={% url "logs:groups_list" %}>Заметки</a></li>
		<li><a href="#">Ссылки на документацию</a></li>
		
        {% if user.is_authenticated %}
            <li><a href="#">Мои заметки</a></li>
            <li><a href="{% url 'users:logout' %}">Пользователь: {{ request.user }} Выйти</a></li>
        {% else %}
			<li><a href="{% url 'users:login' %}">Вход</a></li>
            <li><a href="{% url 'users:signup' %}">Регистрация</a></li>
        {% endif %}
		{% comment %} <li><a href="{% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a> {% endcomment %}
	</ul>
</nav>
<nav class="main">
	<ul>
		<li class="search">
			<a class="fa-search" href="#search">Search</a>
			<form id="search" method="get" action="#">
				<input type="text" name="query" placeholder="Search" />
			</form>
		</li>
		<li class="menu">
			<a class="fa-bars" href="#menu">Menu</a>
		</li>
	</ul>
</nav>