{% load static %}
{% load thumbnail %}
<!-- Search -->
<section>
    <form id="search" method="get" action="{% url 'logs:search' %}">
        <input type="text" name="search_query" placeholder="Поиск" />
    </form>
    <ul>
        {% comment %} Сделать тут картинку профиля {% endcomment %}
        {% thumbnail request.user.avatar "100x100" crop="center" upscale=True as im %}
            <a class="image" style="left: 30%;">{{ post.owner.get_username }}<img src="{{ im.url }}" alt="" /></a>
		{% endthumbnail %}
    </ul>
</section>
<!-- Links -->
{% if user.is_authenticated %}
<section>
    <ul class="links">
        <li><a href="{% url 'logs:my_logs' %}"><h3>Мои заметки</h3></a></li>
        <li><a href="{% url 'logs:create_log' %}"><h3>Добавить заметку</h3></a></li>
        <li><a href="#"><h3>Подписки</h3></a></li>
        <li><a href="{% url 'logs:profile_settings' %}"><h3>Настройки профиля</h3></a></li>
    </ul>
</section>
<!-- Actions -->
<section>
    <ul class="actions stacked">
        <li><a href="{% url 'users:logout' %}" class="button large fit">Выйти</a></li>
{% else %}
		<li><a href="{% url 'users:login' %}" class="button large fit">Вход</a></li>
        <li><a href="{% url 'users:signup' %}" class="button large fit">Регистрация</a></li>
{% endif %}
    </ul>
</section>