{% load static %}
{% load thumbnail %}

{% comment %} {% for post in last_5_posts %}
<article class="mini-post">
    <header>
        <h3><a href="{% url 'logs:log' post.id %}">{{ post.description }}</a></h3>
        <time class="published" datetime="#">{{ post.date_added|date:"d E Y" }}</time>
        {% thumbnail post.owner.avatar "100x100" crop="center" upscale=True as im %}
            <a href="#" class="author">{{ post.owner.get_username }}<img src="{{ im.url }}" alt="" /></a>
		{% endthumbnail %}
    </header>
    <a href="single.html" class="image"><img src="{% static 'images/pic07.jpg' %}" alt="" /></a>
</article>
{% endfor %} {% endcomment %}

{% for post in last_5_posts %}
<section>
    <ul class="posts">
        <li>
            <article>
                <header>
                    <h3><a href="{% url 'logs:log' post.id %}">{{ post.description }}</a></h3>
                    <time class="published" datetime="#">{{ post.date_added|date:"d E Y" }}</time>
                    {% thumbnail post.owner.avatar "100x100" crop="center" upscale=True as im %}
                        <a href="#" class="author"><img src="{{ im.url }}" alt="" /></a>
                    {% endthumbnail %}
            </header>
        
            </article>
        </li>
    </ul>
</section>
{% endfor %}
